{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block content %}

<div class="container col-sm-10">
    <h3 class="alert alert-info text-center mt-3">About Us</h3>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iure repudiandae ea. At, alias ipsa culpa,
        beatae mollitia vitae numquam quae deserunt aspernatur quo sapiente ab sunt asperiores illum adipisci sit ea
        similique officiis. Quo excepturi recusandae debitis reprehenderit vitae odit ipsam ducimus iusto molestiae,
        neque, minus reiciendis ullam ipsum.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae veritatis distinctio sunt nulla quos error
        officia possimus facilis? Pariatur doloribus consectetur eius eveniet iusto rerum vel, quam nobis adipisci
        possimus. Natus iure corrupti quis vitae dolorum eaque earum sapiente in fugit assumenda vero, ipsam deleniti
        neque, sequi at est aliquam?</p>

</div>

{% endblock content %}