{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}

{% block msg %}
<!-- Alert Messages -->
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show mt-1" role="alert"
    {% endif %}>
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endblock msg %}

{% block content %}
<div class="container col-sm-10">
    <h3 class="alert alert-info text-center mt-3">Contact Us</h3>

    <!-- Contact Form -->
    <form action="" method="post" novalidate>
        {% csrf_token %}

        <!-- Contact Form Fields -->
        {% for fm in form %}
        {{fm.label_tag}}
        <small class="text-danger font-weight-bold">
            {{fm.errors|striptags}}
        </small>
        {{fm}}

        {% endfor %}
        <input class="btn btn-primary my-3" type="submit" value="Send">

    </form>
</div>

{% endblock content %}